FORMAT: 1A
HOST: http://oc-130-162-65-221.compute.oraclecloud.com:8011/cs-greybox-mvp/launch

# cs-greybox-mvp

API for managing lifecycle of databases on Exadata Cloud Service

## Job Template [/launch]

### Get Information About a Job Template [GET]

+ Response 200 (application/json)

        [
            {
                "can_start_without_user_input": true,
                "passwords_needed_to_start": [],
                "ask_variables_on_launch": false,
                "ask_tags_on_launch": false,
                "ask_diff_mode_on_launch": false,
                "ask_skip_tags_on_launch": false,
                "ask_job_type_on_launch": false,
                "ask_limit_on_launch": false,
                "ask_verbosity_on_launch": false,
                "ask_inventory_on_launch": false,
                "ask_credential_on_launch": false,
                "survey_enabled": false,
                "variables_needed_to_start": [],
                "credential_needed_to_start": false,
                "inventory_needed_to_start": false,
                "job_template_data": {
                    "id": 15,
                    "description": "",
                    "name": "CS-greybox-MVP-AnsibleTower-jobtemplate-1 (Hello World)"
                },
                "defaults": {
                    "extra_credentials": [],
                    "credential": {
                        "id": 1,
                        "name": "Demo Credential"
                    },
                    "job_tags": "",
                    "extra_vars": "",
                    "verbosity": 0,
                    "job_type": "run",
                    "diff_mode": false,
                    "skip_tags": "",
                    "limit": "",
                    "inventory": {
                        "id": 1,
                        "name": "Demo Inventory"
                    },
                    "vault_credential": {
                        "id": null,
                        "name": null
                    }
                }
            }
        ]

### Launch a Job [POST]

+ Request (application/json)

        {
           
        }

+ Response 201 (application/json)

        {
            "ignored_fields": {},
            "id": 719,
            "type": "job",
            "url": "/api/v2/jobs/719/",
            "related": {
                "created_by": "/api/v2/users/1/",
                "modified_by": "/api/v2/users/1/",
                "labels": "/api/v2/jobs/719/labels/",
                "inventory": "/api/v2/inventories/1/",
                "project": "/api/v2/projects/14/",
                "credential": "/api/v2/credentials/1/",
                "extra_credentials": "/api/v2/jobs/719/extra_credentials/",
                "unified_job_template": "/api/v2/job_templates/15/",
                "stdout": "/api/v2/jobs/719/stdout/",
                "notifications": "/api/v2/jobs/719/notifications/",
                "job_host_summaries": "/api/v2/jobs/719/job_host_summaries/",
                "job_events": "/api/v2/jobs/719/job_events/",
                "activity_stream": "/api/v2/jobs/719/activity_stream/",
                "job_template": "/api/v2/job_templates/15/",
                "cancel": "/api/v2/jobs/719/cancel/",
                "relaunch": "/api/v2/jobs/719/relaunch/"
            },
            "summary_fields": {
                "job_template": {
                    "id": 15,
                    "name": "CS-greybox-MVP-AnsibleTower-jobtemplate-1 (Hello World)",
                    "description": ""
                },
                "inventory": {
                    "id": 1,
                    "name": "Demo Inventory",
                    "description": "",
                    "has_active_failures": false,
                    "total_hosts": 1,
                    "hosts_with_active_failures": 0,
                    "total_groups": 0,
                    "groups_with_active_failures": 0,
                    "has_inventory_sources": false,
                    "total_inventory_sources": 0,
                    "inventory_sources_with_failures": 0,
                    "organization_id": 1,
                    "kind": ""
                },
                "credential": {
                    "id": 1,
                    "name": "Demo Credential",
                    "description": "",
                    "kind": "ssh",
                    "cloud": false,
                    "credential_type_id": 1
                },
                "unified_job_template": {
                    "id": 15,
                    "name": "CS-greybox-MVP-AnsibleTower-jobtemplate-1 (Hello World)",
                    "description": "",
                    "unified_job_type": "job"
                },
                "project": {
                    "id": 14,
                    "name": "CS-greybox-MVP-AnsibleTower-project-3 (GitHub, new Ansible-only repo)",
                    "description": "",
                    "status": "successful",
                    "scm_type": "git"
                },
                "created_by": {
                    "id": 1,
                    "username": "admin",
                    "first_name": "",
                    "last_name": ""
                },
                "modified_by": {
                    "id": 1,
                    "username": "admin",
                    "first_name": "",
                    "last_name": ""
                },
                "user_capabilities": {
                    "start": true,
                    "delete": true
                },
                "labels": {
                    "count": 0,
                    "results": []
                },
                "extra_credentials": []
            },
            "created": "2018-04-04T09:26:05.560Z",
            "modified": "2018-04-04T09:26:05.614Z",
            "name": "CS-greybox-MVP-AnsibleTower-jobtemplate-1 (Hello World)",
            "description": "",
            "job_type": "run",
            "inventory": 1,
            "project": 14,
            "playbook": "hello_world.yml",
            "credential": 1,
            "vault_credential": null,
            "forks": 0,
            "limit": "",
            "verbosity": 0,
            "extra_vars": "{}",
            "job_tags": "",
            "force_handlers": false,
            "skip_tags": "",
            "start_at_task": "",
            "timeout": 0,
            "use_fact_cache": false,
            "unified_job_template": 15,
            "launch_type": "manual",
            "status": "pending",
            "failed": false,
            "started": null,
            "finished": null,
            "elapsed": 0,
            "job_args": "",
            "job_cwd": "",
            "job_env": {},
            "job_explanation": "",
            "result_stdout": "Waiting for results...",
            "execution_node": "",
            "result_traceback": "",
            "job_template": 15,
            "passwords_needed_to_start": [],
            "ask_diff_mode_on_launch": false,
            "ask_variables_on_launch": false,
            "ask_limit_on_launch": false,
            "ask_tags_on_launch": false,
            "ask_skip_tags_on_launch": false,
            "ask_job_type_on_launch": false,
            "ask_verbosity_on_launch": false,
            "ask_inventory_on_launch": false,
            "ask_credential_on_launch": false,
            "allow_simultaneous": false,
            "artifacts": {},
            "scm_revision": "",
            "instance_group": null,
            "diff_mode": false,
            "job": 719
        }
        
        
## Job [/jobs/{id}]

### Get Runtime Information About a Job [GET]

+ Response 200 (application/json)

            {
            "id": 725,
            "type": "job",
            "url": "/api/v2/jobs/725/",
            "related": {
                "created_by": "/api/v2/users/1/",
                "labels": "/api/v2/jobs/725/labels/",
                "inventory": "/api/v2/inventories/1/",
                "project": "/api/v2/projects/14/",
                "credential": "/api/v2/credentials/1/",
                "extra_credentials": "/api/v2/jobs/725/extra_credentials/",
                "unified_job_template": "/api/v2/job_templates/15/",
                "stdout": "/api/v2/jobs/725/stdout/",
                "notifications": "/api/v2/jobs/725/notifications/",
                "job_host_summaries": "/api/v2/jobs/725/job_host_summaries/",
                "job_events": "/api/v2/jobs/725/job_events/",
                "activity_stream": "/api/v2/jobs/725/activity_stream/",
                "job_template": "/api/v2/job_templates/15/",
                "cancel": "/api/v2/jobs/725/cancel/",
                "project_update": "/api/v2/project_updates/727/",
                "relaunch": "/api/v2/jobs/725/relaunch/"
            },
            "summary_fields": {
                "instance_group": {
                    "id": 1,
                    "name": "tower"
                },
                "job_template": {
                    "id": 15,
                    "name": "CS-greybox-MVP-AnsibleTower-jobtemplate-1 (Hello World)",
                    "description": ""
                },
                "inventory": {
                    "id": 1,
                    "name": "Demo Inventory",
                    "description": "",
                    "has_active_failures": false,
                    "total_hosts": 1,
                    "hosts_with_active_failures": 0,
                    "total_groups": 0,
                    "groups_with_active_failures": 0,
                    "has_inventory_sources": false,
                    "total_inventory_sources": 0,
                    "inventory_sources_with_failures": 0,
                    "organization_id": 1,
                    "kind": ""
                },
                "credential": {
                    "id": 1,
                    "name": "Demo Credential",
                    "description": "",
                    "kind": "ssh",
                    "cloud": false,
                    "credential_type_id": 1
                },
                "project_update": {
                    "id": 727,
                    "name": "CS-greybox-MVP-AnsibleTower-project-3 (GitHub, new Ansible-only repo)",
                    "description": "",
                    "status": "successful",
                    "failed": false
                },
                "unified_job_template": {
                    "id": 15,
                    "name": "CS-greybox-MVP-AnsibleTower-jobtemplate-1 (Hello World)",
                    "description": "",
                    "unified_job_type": "job"
                },
                "project": {
                    "id": 14,
                    "name": "CS-greybox-MVP-AnsibleTower-project-3 (GitHub, new Ansible-only repo)",
                    "description": "",
                    "status": "successful",
                    "scm_type": "git"
                },
                "created_by": {
                    "id": 1,
                    "username": "admin",
                    "first_name": "",
                    "last_name": ""
                },
                "user_capabilities": {
                    "start": true,
                    "delete": true
                },
                "labels": {
                    "count": 0,
                    "results": []
                },
                "extra_credentials": []
            },
            "created": "2018-04-05T13:46:49.246Z",
            "modified": "2018-04-05T13:46:55.710Z",
            "name": "CS-greybox-MVP-AnsibleTower-jobtemplate-1 (Hello World)",
            "description": "",
            "job_type": "run",
            "inventory": 1,
            "project": 14,
            "playbook": "hello_world.yml",
            "credential": 1,
            "vault_credential": null,
            "forks": 0,
            "limit": "",
            "verbosity": 0,
            "extra_vars": "{}",
            "job_tags": "",
            "force_handlers": false,
            "skip_tags": "",
            "start_at_task": "",
            "timeout": 0,
            "use_fact_cache": false,
            "unified_job_template": 15,
            "launch_type": "manual",
            "status": "successful",
            "failed": false,
            "started": "2018-04-05T13:46:55.773811Z",
            "finished": "2018-04-05T13:47:04.659756Z",
            "elapsed": 8.886,
            "job_args": "[\"bwrap\", \"--unshare-pid\", \"--dev-bind\", \"/\", \"/\", \"--bind\", \"/tmp/awx_proot_KTLFkT/tmpj0cT2x\", \"/etc/tower\", \"--bind\", \"/tmp/awx_proot_KTLFkT/tmp2ZnGhl\", \"/tmp\", \"--bind\", \"/tmp/awx_proot_KTLFkT/tmpuYQt6g\", \"/var/lib/awx\", \"--bind\", \"/tmp/awx_proot_KTLFkT/tmpmg_RQ7\", \"/var/lib/awx/job_status\", \"--bind\", \"/tmp/awx_proot_KTLFkT/tmp4QCfke\", \"/var/lib/awx/projects\", \"--bind\", \"/tmp/awx_proot_KTLFkT/tmp5T7Bar\", \"/var/log\", \"--ro-bind\", \"/var/lib/awx/venv/ansible\", \"/var/lib/awx/venv/ansible\", \"--ro-bind\", \"/var/lib/awx/venv/awx\", \"/var/lib/awx/venv/awx\", \"--bind\", \"/tmp/awx_725_G_XK_7\", \"/tmp/awx_725_G_XK_7\", \"--bind\", \"/var/lib/awx/projects/_14__cs_greybox_mvp_ansibletower_project_3_github_new_ansible_only_repo\", \"/var/lib/awx/projects/_14__cs_greybox_mvp_ansibletower_project_3_github_new_ansible_only_repo\", \"--chdir\", \"/var/lib/awx/projects/_14__cs_greybox_mvp_ansibletower_project_3_github_new_ansible_only_repo\", \"ansible-playbook\", \"-i\", \"/tmp/awx_725_G_XK_7/tmposEMc9.awxrest.py\", \"-u\", \"admin\", \"-e\", \"{\\\"awx_job_template_name\\\": \\\"CS-greybox-MVP-AnsibleTower-jobtemplate-1 (Hello World)\\\", \\\"tower_project_revision\\\": \\\"7bfa209d2eb5d245e6e1ddfaa68dfb0a5e06339c\\\", \\\"awx_project_revision\\\": \\\"7bfa209d2eb5d245e6e1ddfaa68dfb0a5e06339c\\\", \\\"tower_user_id\\\": 1, \\\"tower_job_template_id\\\": 15, \\\"tower_user_name\\\": \\\"admin\\\", \\\"awx_user_name\\\": \\\"admin\\\", \\\"tower_job_launch_type\\\": \\\"manual\\\", \\\"awx_job_template_id\\\": 15, \\\"awx_job_id\\\": 725, \\\"tower_job_template_name\\\": \\\"CS-greybox-MVP-AnsibleTower-jobtemplate-1 (Hello World)\\\", \\\"tower_job_id\\\": 725, \\\"awx_user_id\\\": 1, \\\"awx_job_launch_type\\\": \\\"manual\\\"}\", \"hello_world.yml\"]",
            "job_cwd": "/var/lib/awx/projects/_14__cs_greybox_mvp_ansibletower_project_3_github_new_ansible_only_repo",
            "job_env": {
                "ANSIBLE_RETRY_FILES_ENABLED": "False",
                "DJANGO_LIVE_TEST_SERVER_ADDRESS": "localhost:9013-9199",
                "PROJECT_REVISION": "7bfa209d2eb5d245e6e1ddfaa68dfb0a5e06339c",
                "_MP_FORK_LOGFILE_": "",
                "CELERY_LOG_REDIRECT": "1",
                "USER": "awx",
                "HOME": "/var/lib/awx",
                "PATH": "/var/lib/awx/venv/ansible/bin:/var/lib/awx/venv/awx/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin",
                "PS1": "(awx)",
                "ANSIBLE_CALLBACK_PLUGINS": "/var/lib/awx/venv/awx/lib/python2.7/site-packages/awx/plugins/callback",
                "LANG": "en_US.UTF-8",
                "VIRTUAL_ENV": "/var/lib/awx/venv/ansible",
                "REST_API_TOKEN": "**********",
                "ANSIBLE_PARAMIKO_RECORD_HOST_KEYS": "False",
                "_MP_FORK_LOGFORMAT_": "[%(asctime)s: %(levelname)s/%(processName)s] %(message)s",
                "SHLVL": "0",
                "MAX_EVENT_RES": "700000",
                "SUPERVISOR_ENABLED": "1",
                "CELERY_LOG_FILE": "",
                "DJANGO_PROJECT_DIR": "/var/lib/awx/venv/awx/lib/python2.7/site-packages",
                "CACHE": "localhost:11211",
                "ANSIBLE_HOST_KEY_CHECKING": "False",
                "AWX_PRIVATE_DATA_DIR": "/tmp/awx_725_G_XK_7",
                "JOB_ID": "725",
                "ANSIBLE_STDOUT_CALLBACK": "awx_display",
                "PYTHONPATH": "/var/lib/awx/venv/ansible/lib/python2.7/site-packages:",
                "SUPERVISOR_PROCESS_NAME": "awx-celeryd",
                "SUPERVISOR_SERVER_URL": "unix:///var/run/supervisor/supervisor.sock",
                "INVENTORY_HOSTVARS": "True",
                "ANSIBLE_FORCE_COLOR": "True",
                "REST_API_URL": "http://127.0.0.1:80",
                "CELERY_LOG_REDIRECT_LEVEL": "WARNING",
                "CELERY_LOADER": "djcelery.loaders.DjangoLoader",
                "CELERY_LOG_LEVEL": "10",
                "INVENTORY_ID": "1",
                "ANSIBLE_SSH_CONTROL_PATH": "/tmp/awx_725_G_XK_7/cp/%%h%%p%%r",
                "PWD": "/var/lib/awx",
                "_MP_FORK_LOGLEVEL_": "10",
                "DJANGO_SETTINGS_MODULE": "awx.settings.production",
                "ANSIBLE_VENV_PATH": "/var/lib/awx/venv/ansible",
                "PROOT_TMP_DIR": "/tmp",
                "SUPERVISOR_GROUP_NAME": "tower-processes"
            },
            "job_explanation": "",
            "result_stdout": "\r\nPLAY [Hello World Sample] ******************************************************\r\n\r\nTASK [Gathering Facts] *********************************************************\r\nok: [localhost]\r\n\r\nTASK [Hello Message] ***********************************************************\r\nok: [localhost] => {\r\n    \"msg\": \"Hello World! - copied from the ansible-tower-samples GitHub repo\"\r\n}\r\n\r\nPLAY RECAP *********************************************************************\r\nlocalhost                  : ok=2    changed=0    unreachable=0    failed=0   \r\n\r\n",
            "execution_node": "localhost",
            "result_traceback": "",
            "job_template": 15,
            "passwords_needed_to_start": [],
            "ask_diff_mode_on_launch": false,
            "ask_variables_on_launch": false,
            "ask_limit_on_launch": false,
            "ask_tags_on_launch": false,
            "ask_skip_tags_on_launch": false,
            "ask_job_type_on_launch": false,
            "ask_verbosity_on_launch": false,
            "ask_inventory_on_launch": false,
            "ask_credential_on_launch": false,
            "allow_simultaneous": false,
            "artifacts": {},
            "scm_revision": "7bfa209d2eb5d245e6e1ddfaa68dfb0a5e06339c",
            "instance_group": 1,
            "diff_mode": false
        }